.question1 {
    color: #ff914d;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.question2 {
    color: #00bf63;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.result {
    font-weight: bold;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}