<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" href="icon.png">
  <title>Home</title>
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <script src="https://kit.fontawesome.com/d75423f0a7.js" crossorigin="anonymous"></script>

  <!-- Scrolling animations -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  
</head>

<body>
  <Header class="navbars">
    <div class="headings">
      Oman Autism & Rehabilitation Center
    </div>
    <div class="autism">
        <a href="{% url 'home' %}"><img id="OmanAutism" src="{% static 'images/OmanAutismLogo.png' %}"></a>
      </div>
    <ul class="navlinks">
      <li class="Resources"><a href="{% url 'resources' %}">Resources</a></li>
      <li class="FAQs"><a href="{% url 'faqs' %}">FAQs</a></li>
      <li class="News"><a href="{% url 'news' %}">News</a></li>
      <li class="waystohelp"><a href="{% url 'waystohelp' %}">Ways To Help</a></li>
      <li class="About"><a href="{% url 'about' %}">About</a></li>
  
    </ul>
  </Header>

  <main class="main">
    <div class="topspace"></div>
    <div class="container">
      <div class="row">
        <div class="aboutcolumn">
          <a href="resources.html"><img class="homelogo" src="{% static 'images/homelogo.png' %}"></a>
        </div>
        <div style="padding-top: 40px" data-aos="fade-left" data-aos-duration="1800" data-aos-easing="linear" class="aboutcolumn">
          <h1 style="color: #EB914D;">1 in 6</h1>
          <p style="margin-top: -20px;">children are diagnosed with a developmental disability</p>
          <img style="width: 40px;" src="{% static 'images/puzzle.png' %}">
          <h1 style="color: #63A459; margin-top: 8px">1 in 44</h1>
          <p style="margin-top: -20px;">have been identified with Autism Spectrum Disorder (ASD)</p>
          <img style="width: 40px;" src="{% static 'images/puzzle.png' %}">
          <h1 style="color: #214A89; margin-top: 8px">178%</h1>
          <p style="margin-top: -20px;">increase in autism prevalence since 2000</p>
        </div>
      </div>

      <div class="row">
        <div data-aos="fade-right" data-aos-duration="1800" data-aos-easing="linear" class="aboutcolumn">
          <h1>OUR BACKGROUND</h1>
          <p>Located in Muscat al Quaram, the Autism and Rehabilitation Center officially opened in 2015. Since then,
            the center has expanded to include 41 administrative staff members and several programs dedicated to
            improving the wellbeing of those diagnosed with ASD.</p>
        </div>
        <div class="aboutcolumn">
          <iframe width="500" height="300" src="https://www.youtube.com/embed/vnLvkZ9aC4M" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          </iframe>
        </div>
      </div>
      <div class="row">
        <div class="aboutcolumn">
          <img class="aboutimg" src="{% static 'images/wallpuzzle.jpg' %}">
          <img class="aboutimg" src="{% static 'images/tablepuzzle.jpg' %}">
          <img class="aboutimg" src="{% static 'images/xylophone.jpg' %}">
          <img class="aboutimg" src="{% static 'images/outside.jpg' %}">
        </div>
        <div data-aos="fade-left" data-aos-duration="1800" data-aos-easing="linear" class="aboutcolumn">
          <h1>OUR MISSION</h1>
          <p>
            As the first Autism Rehabilitation Center in the Sultanate, our goal is to provide accessible behavioral
            treatment, therapy, and counseling for those with ASD in our community.
          </p>
          <p>
            Currently, our services include special education, occupational therapy, speech therapy, psychological
            counselling and behavior modification. With these programs, we hope to work on the difficulties faced by
            children with ASD and provide them with the skills needed to lead an independent life in various fields.
          </p>
          <p>
            Additionally, we hope to educate families on detecting early signs of ASD in their
            children so rehabilitation can start as early as possible.
          </p>
          <h3 style="color: #63A459; font-size: 25px;">
            We believe that autism is not to be feared, but conquered.
          </h3>
          <h2>
            Click <a href="{% url 'Model:model' %}">here</a> to get an autism diagnosis with our Machine Learning Model
          </h2>
        </div>
      </div>
  </main>

  <footer class="footer">
    <div class="footercontainer">
      <div class="row">
        <div class="footercolumn">
          <h3>Contact</h3>
          <ul>
            <li><a href="">Phone Number</li>
            <li><a href="">Social Media 1</li>
            <li><a href="">Social Media 2</li>
            <li><a href="">Social Media 3</li>
          </ul>
        </div>

        <div class="footercolumn">
          <h3>Follow Us</h3>
          <ul>
            <li><a href="">Facebook</li>
            <li><a href="">Twitter</li>
            <li><a href="">Instagram</li>
            <li><a href="">LinkedIn</li>
          </ul>
        </div>

        <div class="footercolumn">
          <h3>Links</h3>
          <ul>
            <li><a href="{% url 'resources' %}">Resources</a></li>
            <li><a href="{% url 'faqs' %}">FAQs</a></li>
            <li><a href="{% url 'news' %}">News</a></li>
            <li><a href="{% url 'waystohelp' %}">Ways To Help</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
          </ul>
        </div>
      </div>
      <div class="copyright">
        <p>© Copyright 2023 Oman Autism and Rehabilitation Center</p>
      </div>
    </div>
  </footer>

  <!------ JavaScript for Scrolling Animations --------->

<script>
    AOS.init();
</script>

  
</body>

</html>


